.delivery {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: url("../img/delivery/delivery_bg.jpg") no-repeat center;
  border-radius: 16px;
}

.delivery p {
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.delivery h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}
