.navigation__link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;

  &--current {
    background-color: #ff4a78;
  }
}

.navigation__user-link {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;

  &--tel {
    font-size: 16px;
    font-weight: 900;
  }
}
