.sorting {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.sorting__header {
  width: 470px;
}

.sorting__breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.sorting__breadcrumbs-link {
  font-weight: 700;
  text-decoration: none;
}

