.sorting-form {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.sorting-form label {
  font-weight: normal;
}

